<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>BMI REGISTRATION BETA 2.0</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="terminal/jquery.terminal.min.js"></script>
    <link rel="stylesheet" href="terminal/jquery.terminal.min.css"/>
    <link rel="stylesheet" href="/encryption.css">
    <script type="text/javascript" src="/encryption.js"></script>
</head>
<body>
    <div id="terminal"></div>
    <div id="onboarding-modal-wrapper"><div id="onboarding-modal-content" style="background: black;">
        <video style="width: 100vw;" autostart="1" muted webkit-playsinline playsinline id="onboarding">
            <source src="onboarding.mp4" type="video/mp4">
        </video>
    </video>
    </div></div>
</body>
</html>