<!DOCTYPE html>
<html id="content">
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

  <link rel="stylesheet" href="/main.css">

  <script>
    window.onload = function () {
        let r = Math.floor(Math.random() * (0 - 38) + 38);
        console.log(r);
        let queryString = "";
        switch(r) {
            case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7: case 8: case 9:
                queryString = "/arctic"
                break;
            case 10: case 11: case 12: case 13: case 14: case 15: case 16: case 17: case 18: case 19:
                queryString = "/park"
                break;
            case 20: case 21: case 23: case 24: case 25: case 26: case 27:
                queryString = "/village-one"
                break;
            case 28: case 29: case 30: case 30: case 31:
                queryString = "/island"
                break;
            case 32: case 33: case 34: case 35: case 36:
                queryString = "/beach"
                break;
            case 37:
                queryString = "/space"
                break;
            default:
                queryString = "/village-one"
                break;
        }
        console.log(queryString);
        document.querySelector(".activate-button").addEventListener("click", function () {
          window.location.href = queryString
        });
    };
  </script>
  <style>
   

    .activate-button {
      width: 100px;
      height: auto;
      margin: 0 auto;
      position: absolute;
      bottom: 3%;
      left: 0;
      right: 0;
      z-index: 1;
    }
  </style>
  <body style="margin : 0px; overflow: hidden;">
    <!-- <div class="modal"> -->
        <!-- <div class="modal-content"> -->
            <!-- <p>Welcome to the BMI Beta test. Please press the button below to initialize your experience.</p> -->
            <!-- <button class="activate-button"></button> -->
            <img class="activate-button" src="activate.png"></img>
        <!-- </div> -->
    <!-- </div> -->

    <a-scene embedded arjs vr-mode-ui="enabled: false">
      <a-marker preset="hiro">
      </a-marker>
      <a-camera look-controls-enabled="true" look-controls="touchEnabled: false;"></a-camera>
    </a-scene>
  </body>
  <script src="main.js"></script>
</html>