<!DOCTYPE html>
<html>
  <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
  <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/main.css">

  <script>
    window.onload = function () {
        let r = Math.floor(Math.random() * (0 - 10) + 10);
        console.log(r);
        let queryString = "";
        switch(r) {
            case 0: case 1: case 2: case 3:
                queryString = "/island"
                break;
            case 4: case 5: case 6: case 7:
                queryString = "/mall"
                break;
            case 8: case 9: case 10:
                queryString = "/plaza"
                break;
            default:
                queryString = "/island"
                break;
        }
        console.log(queryString);
        document.querySelector(".activate-button").addEventListener("click", function () {
          window.location.href = queryString
        });
    };
  </script>
  <style>
   

    .activate-button {
      /* padding: 15px;
      border-radius: 7px;
      border: 1px solid #1226AA;
      background: rgba(0,0,0,.5);
      color: white; */
      /* background: url('activate.png'); */
      /* width: 125px; */
      /* width: 4em; */
      /* height: 2em; */
      width: 100px;
      height: auto;
      margin: 0 auto;
    }
  </style>
  <body style="margin : 0px; overflow: hidden;">
    <div class="modal">
        <div class="modal-content">
            <p>Welcome to the BMI Beta test. Please press the button below to initialize your experience.</p>
            <!-- <button class="activate-button"></button> -->
            <img class="activate-button" src="activate.png"></img>
        </div>
    </div>

    <a-scene embedded arjs vr-mode-ui="enabled: false">
      <a-marker preset="hiro">
      </a-marker>
      <a-entity camera></a-entity>
    </a-scene>
  </body>
</html>