<!DOCTYPE html>
<html id="content">
  <head>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- <script src="aframe.js"></script> -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
    <video class="glitch_one" src="/glitches/glitch_one.mp4" id="glitch_two" muted autoplay loop="true" playsinline webkit-playsinline></video>
    <video class="glitch_two" src="/glitches/glitch_two.mp4" id="glitch_two" muted autoplay loop="true" playsinline webkit-playsinline></video>
    <img id="hud" src="hud.png" class="hud-overlay" />
    <div class="spotify-modal">
      <iframe src="https://open.spotify.com/embed/playlist/6K1onH2oluQQegbkydUBMw?theme=0" width="100%" height="90%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>      
      <button class="spotify-close-button" onclick="closeModal();">Close</button>
    </div>
    <div onclick="openModal();" class="spotify-open-button">OPEN MUSIC</div>
    <div onclick="exitModal();" class="exit-button">EXIT</div>

    <a-scene class="a-scene" cursor="rayOrigin: mouse" loading-screen="dotsColor: white; backgroundColor: black" vr-mode-ui="enabled: false">
        <a-assets>  
          <img id="vacation-mode" src="vacation_mode.png" />
          <img id="vacation-mode" src="hud.png" />
          <a-asset-item id="star-obj" src="star.obj"></a-asset-item>
          <a-asset-item id="star-mtl" src="star.mtl"></a-asset-item>
          <video id="video" autoplay loop="true" webkit-playsinline muted src="https://videodelivery.net/e13ba8c79906e489f192224455afa117/manifest/video.m3u8" type="application/x-mpegURL"  ></video>
        </a-assets>
        <!-- Background -->
        <a-camera look-controls-enabled="true" look-controls="touchEnabled: false;"></a-camera>
        <a-image id="vacationMode" class="vacationMode" opacity=".5" src="#vacation-mode"  position=".7 3.25 -3" rotation="20 0 0"></a-image>
        <a-videosphere rotation="0 180 0" ios-video-fix id="videoSphere" src="#video"  muted></a-videosphere>
        <a-image id="vacationMode" class="vacationMode" opacity=".5" src="#vacation-mode"  position=".7 3.25 -3" rotation="20 0 0"></a-image>
        <a-plane visible="false" onclick="openWebsite();" position="7.5 9.82 7.5" width="1.5" height="1.75" rotation="0 215 0"></a-plane>
        <a-obj-model src="#star-obj" mtl="#star-mtl" position="8 10 8" scale="10 10 10" 
        animation="property: rotation; to: 0 360 0; duration: 7000ms; easing: linear; loop: true;" 
        animation__2="property: position; to: 8 9.6 8; from: 8 10 8; loop: true; easing: linear; dir: alternate;"
        >
        </a-obj-model>
    </a-scene>
  </body>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
    var scene = document.querySelector("a-scene");
    var vid = document.getElementById("video");
    var videoSphere = document.getElementById("videoSphere");

    if (scene.hasLoaded) {
      run();
    } else {
      scene.addEventListener("loaded", run);
    }

    function run () {
     playVideo();
    }

    function playVideo () {
      var video = document.getElementById('video');
      if(Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource('https://videodelivery.net/e13ba8c79906e489f192224455afa117/manifest/video.m3u8');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {   
              video.play();    
              videoSphere.components.material.material.map.image.play();
          });
      } else {
          video.src = 'https://videodelivery.net/e13ba8c79906e489f192224455afa117/manifest/video.m3u8';
          video.addEventListener('canplay',function() {
            video.play();
            videoSphere.components.material.material.map.image.play();
          });
      }
    }


  })
</script>
<script src="vacayMode.js"></script>

</html>