<!DOCTYPE html>
<html>
  <head>
      <meta name="apple-mobile-web-app-capable" />
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

    <style>
      .hud-overlay {
        position: absolute;
        z-index: 1;
        width: 100%;
        pointer-events: none;
      }
    </style>
  </head>
  <body>
    <img id="hud" src="hud.png" class="hud-overlay" />
    <a-scene class="a-scene" cursor="rayOrigin: mouse" vr-mode-ui="enabled: false">
        <a-assets>  
          <img id="vacation-mode" src="vacation_mode.png" />
          <img id="vacation-mode" src="hud.png" />
          <video id="video" autoplay loop="true" src="mountains.mp4" webkit-playsinline muted></video>
            <!-- <img id="plaza" src="plaza.jpg"> -->
            <!-- <a-asset-item id="globe" src="/3d/scene.gltf"></a-asset-item> -->
        </a-assets>

        <!-- Background -->
        <!-- <a-sky src="#plaza"></a-sky> -->
        <a-image id="vacationMode" class="vacationMode" opacity=".5" src="#vacation-mode"  position=".7 3.25 -3" rotation="20 0 0"></a-image>
        <a-videosphere id="videoSphere" src="#video" muted></a-videosphere>

        <!-- Globe -->
        <!-- <a-entity 
            id="globe" 
            class="globe"
            position="-95 5 0" 
            gltf-model="#globe" 
            scale=".25 .25 .25" 
            modify-materials  
            animation="property: rotation; to: 0 360 0; loop: true; dur: 4000; easing: linear;">
        </a-entity> -->
    </a-scene>
  </body>

  <script>
    document.querySelector('.vacationMode').addEventListener('click', () => {
      console.log("Found!")
      document.getElementById('vacationMode').remove()
      document.getElementById('hud').style.display = 'none';
      // console.log(document.getElementById())

    })

    document.addEventListener("DOMContentLoaded", function(event) {
    var scene = document.querySelector("a-scene");
    var vid = document.getElementById("video");
    var videoShere = document.getElementById("videoShere");

    if (scene.hasLoaded) {
      run();
    } else {
      scene.addEventListener("loaded", run);
    }

    function run () {
     playVideo();
    }

    function playVideo () {
      vid.play();
      videoShere.components.material.material.map.image.play();
    }
  })
</script>
</html>