<!DOCTYPE html>
<html id="content">
  <head>
    <% include _meta %>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- <script src="aframe.js"></script> -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
    <img id="hud" src="hud.png" class="hud-overlay" />
    <div class="spotify-modal">
      <iframe src="https://open.spotify.com/embed/album/0tJI0EBOHEcxov6V1ddIo7?utm_source=generator&amp;theme=0" width="100%" height="90%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <button class="spotify-close-button" onclick="closeModal();">Close</button>
    </div>
    <div onclick="openModal();" class="spotify-open-button">OPEN MUSIC</div>
    <div onclick="exitModal();" class="exit-button">EXIT</div>

    <a-scene class="a-scene" cursor="rayOrigin: mouse; fuseTimeout: 0;" loading-screen="dotsColor: white; backgroundColor: black" vr-mode-ui="enabled: false">
      <a-assets>  
          <img id="vacation-mode" src="vacation_mode.png" />
          <img id="vacation-mode" src="hud.png" />
          <img id="gallery" src="gallery.png" />
          <img id="curation_panel" src="curation_panel.png" />
          <video id="center_wall_video" autoplay playsinline loop="true" src="center_wall_video.mp4" muted></video>
        </a-assets>
        <a-camera look-controls-enabled="true" look-controls="touchEnabled: true;" rotation="0 -180 0"></a-camera>
        <a-text class="exit-gallery" text="value: Exit; color: black;" scale="25 25 25" rotation="0 0 0" position="52.273 11.992 -139.9"></a-text>
        <a-image id="curation_panel" class="curation_panel" opacity=".5" src="#curation_panel"  position=".5 2 -3" rotation="0 0 0"
        animation="property: position; to: .5 2 -3; from: .5 2.015 -3; loop: true;  dir: alternate; dur: 500;"
        ></a-image>
        <!-- REDACTED -->
        <a-sky src="#gallery"></a-sky>

    </a-scene>
  </body>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
    document.getElementById('fun_computer').play();
  })
    document.querySelector('.exit-gallery').addEventListener('click', function() {
      window.location.href = "/studio";
    })
</script>

</html>