<!DOCTYPE html>
<html>
  <head>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- <script src="aframe.js"></script> -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
    <img id="hud" src="hud.png" class="hud-overlay" />
    <div class="spotify-modal">
      <iframe src="https://open.spotify.com/embed/playlist/6K1onH2oluQQegbkydUBMw?theme=0" width="100%" height="90%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <button class="spotify-close-button" onclick="closeModal();">Close</button>
    </div>
    <div onclick="openModal();" class="spotify-open-button">OPEN MUSIC</div>
    <div onclick="exitModal();" class="exit-button">EXIT</div>

    <a-scene class="a-scene" cursor="rayOrigin: mouse; fuseTimeout: 0;" loading-screen="dotsColor: white; backgroundColor: black" vr-mode-ui="enabled: false">
      <a-assets>  
          <img id="vacation-mode" src="vacation_mode.png" />
          <img id="vacation-mode" src="hud.png" />
          <img id="studio" src="studio.png" />
          <img id="digital_museum_sign" src="digital_museum_sign.png" />
          <img id="back_to_vacation_sign" src="back_to_vacation_sign.png" />
          <img id="starset_logo" src="black_star.png" />
          <video id="right_wall_video" autoplay playsinline loop="true" src="right_wall_video.mp4" muted></video>
          <video id="left_wall_video" autoplay playsinline loop="true" src="left_wall_video.mp4" muted></video>
          <video id="center_wall_video" autoplay playsinline loop="true" src="center_wall_video.mp4" muted></video>
        </a-assets>
        <!-- Background -->
        <a-video position="15 2 0" rotation="0 -90 0" height="7.20" width="12.80" src="#right_wall_video" class="right_wall_video" id="right_wall_video"></a-video>
        <a-video position="-15 2 0" rotation="0 90 0" height="7.20" width="12.80" src="#left_wall_video" class="left_wall_video" id="left_wall_video"></a-video>
        <a-video position="0 2 -25" rotation="0 0 0" height="7.20" width="12.80" src="#center_wall_video" class="center_wall_video" id="center_wall_video"></a-video>
        <a-image position="7 2 20" rotation="0 180 0" scale="4.36 2 1" src="#digital_museum_sign" class="digital_museum_sign" id="digital_museum_sign"></a-image>
        <a-image position="-7 2 20" rotation="0 180 0" scale="4.36 2 1" src="#back_to_vacation_sign" class="back_to_vacation_sign" id="back_to_vacation_sign"></a-image>
        <a-image position="0 2.5 20" rotation="0 180 0" scale="2.25 2.25 2.25" src="#starset_logo" class="starset_logo" id="starset_logo"></a-image>
        <a-camera look-controls-enabled="true"></a-camera>

        <a-sky src="#studio"></a-sky>

    </a-scene>
  </body>

<script>
    document.getElementById('right_wall_video').play();
    document.getElementById('left_wall_video').play();
    document.getElementById('center_wall_video').play();

    document.querySelector('.left_wall_video').addEventListener('click', function () {
      window.open("https://www.youtube.com/watch?v=cWkbUMQ4-88", '_blank').focus();
    })

    document.querySelector('.center_wall_video').addEventListener('click', function () {
      window.open("https://www.youtube.com/watch?v=6Od_dO3ENJo", '_blank').focus();
    })

    document.querySelector('.right_wall_video').addEventListener('click', function () {
      window.open("https://www.youtube.com/watch?v=ggCkN3Sve9w", '_blank').focus();
    })

    document.querySelector('.starset_logo').addEventListener('click', function () {
      // window.open("https://starsetonline.com", '_blank').focus();
      var userAgent = navigator.userAgent || navigator.vendor || window.opera;

      if (/windows phone/i.test(userAgent)) {
        window.open("https://play.google.com/store/apps/details?id=com.starset.companion&hl=en_US&gl=US", '_blank').focus();
      } else if (/android/i.test(userAgent)) {
        window.open("https://play.google.com/store/apps/details?id=com.starset.companion&hl=en_US&gl=US", '_blank').focus();
      } else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
        window.open("https://apps.apple.com/us/app/starset/id1324067732", '_blank').focus();
      } else {
        window.open("https://apps.apple.com/us/app/starset/id1324067732", '_blank').focus();
      }
    })

    document.querySelector('.back_to_vacation_sign').addEventListener('click', function() {
      let r = Math.floor(Math.random() * (0 - 31) + 31);
      console.log(r);
      let queryString = "";
      switch(r) {
            case 0: case 1: case 2: case 3: case 4: case 5: case 6: case 7: case 8: case 9:
                queryString = "/arctic"
                break;
            case 10: case 11: case 12: case 13: case 14: case 15: case 16: case 17: case 18: case 19:
                queryString = "/park"
                break;
            case 20: case 21: case 23: case 24: case 25: case 26: case 27:
                queryString = "/village-one"
                break;
            case 28: case 29: case 30: case 30: case 31:
                queryString = "/island"
                break;
            case 32: case 33: case 34: case 35: case 36:
                queryString = "/beach"
                break;
            case 37:
                queryString = "/space"
                break;
            default:
                queryString = "/village-one"
                break;
        }
      console.log(queryString);
      window.location.href = queryString
    })

    document.querySelector('.digital_museum_sign').addEventListener('click', function() {
      window.location.href = "/museum"
    })

    function openWebsite() {
      window.open("https://starsetonline.com", '_blank').focus();
    }

    document.addEventListener("DOMContentLoaded", function(event) {
    var scene = document.querySelector("a-scene");
    var vid = document.getElementById("video");
    var videoSphere = document.getElementById("videoSphere");

    if (scene.hasLoaded) {
      run();
    } else {
      scene.addEventListener("loaded", run);
    }

    function run () {
     playVideo();
    }

    function playVideo () {
      var video = document.getElementById('video');
      if(Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource('https://videodelivery.net/c6b6c235f397a922558d258e201cee8b/manifest/video.m3u8');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {   
              video.play();    
              videoSphere.components.material.material.map.image.play();
          });
      } else {
          video.src = 'https://videodelivery.net/c6b6c235f397a922558d258e201cee8b/manifest/video.m3u8';
          video.addEventListener('canplay',function() {
            video.play();
            videoSphere.components.material.material.map.image.play();
          });
      }
    }


  })
</script>
<!-- <script src="vacayMode.js"></script> -->

</html>