<!DOCTYPE html>
<html>
  <head>
      <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!-- <script src="aframe.js"></script> -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/main.css">

  </head>
  <body>
    <img id="hud" src="hud.png" class="hud-overlay" />
    <div class="spotify-modal">
      <iframe src="https://open.spotify.com/embed/playlist/6K1onH2oluQQegbkydUBMw?theme=0" width="100%" height="90%" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      <button class="spotify-close-button" onclick="closeModal();">Close</button>
    </div>
    <div onclick="openModal();" class="spotify-open-button">OPEN MUSIC</div>
    <div onclick="exitModal();" class="exit-button">EXIT</div>

    <a-scene class="a-scene" cursor="rayOrigin: mouse; fuseTimeout: 0;" loading-screen="dotsColor: white; backgroundColor: black" vr-mode-ui="enabled: false">
        <a-assets>  
          <img id="vacation-mode" src="vacation_mode.png" />
          <img id="vacation-mode" src="hud.png" />
          <video id="video" autoplay loop="true" webkit-playsinline muted src="" type="application/x-mpegURL"  ></video>
        </a-assets>
        <!-- Background -->
        <a-camera look-controls-enabled="true" look-controls="touchEnabled: false;"></a-camera>
        <a-box onclick="nextScene();" visible="false" position="10.6 -1.525 -0.033" rotation="0 8.5 0" height="1" width="17.37" depth="50"></a-box>
        <a-image id="vacationMode" class="vacationMode" opacity=".5" src="#vacation-mode"  position=".7 3.25 -3" rotation="20 0 0"></a-image>
        <a-videosphere ios-video-fix id="videoSphere" src="#video"  muted></a-videosphere>

    </a-scene>
  </body>

<script>
    function nextScene() {
      window.location.href = "/village-three";
    }

    document.addEventListener("DOMContentLoaded", function(event) {
    var scene = document.querySelector("a-scene");
    var vid = document.getElementById("video");
    var videoSphere = document.getElementById("videoSphere");

    if (scene.hasLoaded) {
      run();
    } else {
      scene.addEventListener("loaded", run);
    }

    function run () {
     playVideo();
    }

    function playVideo () {
      var video = document.getElementById('video');
      if(Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource('https://videodelivery.net/9b55439685cab78b2cdd421b7df0a255/manifest/video.m3u8');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED,function() {   
              video.play();    
              videoSphere.components.material.material.map.image.play();
          });
      } else {
          video.src = 'https://videodelivery.net/9b55439685cab78b2cdd421b7df0a255/manifest/video.m3u8';
          video.addEventListener('canplay',function() {
            video.play();
            videoSphere.components.material.material.map.image.play();
          });
      }
    }


  })
</script>
<script src="vacayMode.js"></script>

</html>